.menu {
    width: 15%;
    height: var(--frame-height-size);
    padding: var(--frame-padding-size) 0.75rem;
    background: var(--frame-bg);
    border-top-right-radius: var(--frame-border-radius);
    border-bottom-right-radius: var(--frame-border-radius);
    box-shadow: var(--frame-shadow-color);
}


.menuItem__routeLink {
    width: 100%;
    padding: 8px;
    text-decoration: none;
    border-radius: 12px;
    user-select: none;
    cursor: pointer;
    transition: var(--default-transition);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.menuItem__routeLink:hover {
    background: var(--menuItem-hover-bg);
}

.menuItem__icon {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--app-secondary-color);
}

.menuItem__title {
    color: var(--app-primary-color);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.routePageActive {
    background: var(--app-secondary-color);
}

.routePageActive .menuItem__icon {
    color: var(--app-primary-color);
}

@media (max-width: 1024px) {
    .menu {
        width: 25%;
    }
}


@media (max-width: 768px) {
    .menu {
        width: 15%;
    }
}

@media (max-width: 640px) {
    .menu {
        padding: 1.75rem 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .menuItem {
        padding: 0;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuItem__title {
        display: none;
    }
}


@media (max-width: 400px) {
    .menu {
        width: 12%;
    }

    .menuItem {
        padding: 0;
    }

    .menuItem__icon {
        font-size: 1rem;
    }
}