@import url(./../styles/root/appRoot.css);
@import url(./../fontAwsomePackage/fontIcons/all.css);
@import url(./reset.css);
@import url(./fonts.css);
@import url(./pages/dashboardPage.css);
@import url(./pages/todoPage.css);
@import url(./pages/weatherPage.css);
@import url(./pages/profilePage.css);
@import url(./components/buttons.css);

.container {
    width: 100%;
    height: 100vh;
    background: var(--app-bg);
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu {
    width: 15%;
    height: var(--frame-height-size);
    padding: var(--frame-padding-size) 0.75rem;
    background: var(--frame-bg);
    border-top-right-radius: var(--frame-border-radius);
    border-bottom-right-radius: var(--frame-border-radius);
    box-shadow: var(--frame-shadow-color);
}

.menuItem {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    user-select: none;
    cursor: pointer;
    transition: var(--default-transition);
}

.menuItem:hover {
    background: var(--menuItem-hover-bg);
}

.menuItem__icon {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--app-secondary-color);
}

.menuItem__title {
    color: var(--app-primary-color);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.dashboardPage,
.todoPage,
.weatherPage,
.profilePage {
    display: none;
}

.showPage {
    display: flex;
}

.activePage {
    background: var(--app-secondary-color);
}

.activePage .menuItem__icon {
    color: var(--app-primary-color);
}